 body h1 {

    border : 10px;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
    background-color: black;
    font-size: xx-large;


}
        h2 {
      
    background-color: white;
    
    
        }
        
        table, td, tr {
           font-size: 15px;
           border: 1px solid #ddd;
           text-align: left;
           text-size-adjust: non-bold;

        }
        table {
        border-collapse: collapse;
        width: 30%;
        }
      
        td {
        padding: 5px;
        }
        h3   {
            text-align: right;
            font-size: medium;
        }